@import '../colors';
/* Import scss colors (./colors.scss) */

/*
 * Button Underline Hover
 */

button.underline {
  background: transparent;
  border: none;
  display: block;
  outline: none;
  position: relative;
  transition: 300ms ease;
}
button.underline:before {
  content: '';
  border-bottom: 1px solid $underlineColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 300ms ease;
}

button.underline:hover:before {
  width: 36%;
  padding: 0;
}

button.clickEffect:active {
  transform: translateY(4px);
  transition: 100ms ease;
}

@media screen and (min-width: 991px) {
  // Optimizing underline (navbar collapse) for mobile
  button.underline:hover:before {
    width: 100%;
    padding: 0;
  }
}
