/*
 * Text Colors
 */

$majorFontColor: #404040;
$minorFontColor: #666666;

/*
 * Decorative Colors
 */

$underlineColor: #999999;
$customIconColor: #999999;

/*
 * Official Icon Colors
 */

$twitterColor: #1da1f2;
$facebookColor: #1da1f2;
$instagramColor: #c13584;
