@import 'colors';
/* Import scss colors (./colors.scss) */

@import 'typography';
/* Import scss typography (./typography.scss) */

/*
 * TYPOGRAPHY CONFIG START
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: $majorFontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $majorFontColor;
}

p {
  font-size: $contentFontSize;
  line-height: $contentLineHeight;
}

a {
  color: $majorFontColor;
  font-size: $contentFontSize;
  line-height: $contentLineHeight;
}

.navigationHeaderText {
  color: $majorFontColor;
}

.headerText {
  color: $majorFontColor;
  font-size: $headerFontSize;
  font-weight: $headerFontWeight;
}

@media screen and (max-width: 492px) {
  // Optimizing underline (navbar collapse) for mobile
  .headerText {
    font-size: 10vw;
  }
}

.majorText {
  color: $majorFontColor;
  font-weight: $majorFontWeight;
}

.minorText {
  color: $minorFontColor;
  font-weight: $minorFontWeight;
}

.majorLink {
  color: $majorFontColor !important;
  font-weight: $majorFontWeight;
}

.minorLink {
  color: $minorFontColor !important;
  font-weight: $minorFontWeight;
}

.customIcon {
  font-size: $customIconFontSize;
  color: $customIconColor;
  transition: 300ms ease-in-out;
}

/*
 * TYPOGRAPHY CONFIG END
 */
