/*
 * Typography
 */

/* Body */
$fontSize: 12px;
$letterSpacing: -0.01em;
$lineHeight: 28px;

/* Content Config */
$contentFontSize: 1.4em;
$contentLineHeight: 1.4em;
$customIconFontSize: 1.4em;

/* Custom Config */
$headerFontSize: 4em;
$headerFontWeight: 700;

$majorFontSize: 12px;
$majorFontWeight: 400;

$minorFontSize: 12px;
$minorFontWeight: 300;
